.navlink {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  border: 1px solid white;
  background-color: rgba(51, 51, 51, 0.653);
  color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgb(28, 28, 28);
}

.navlink.light {
  border: 1px solid rgb(51, 51, 51);
  background-color: rgba(173, 171, 171, 0.685);
  color: #24262c;
}

.navlink:hover {
  color: #fff;
  background-color: #345678b9;
  box-shadow: 0.1px 0.1px 5px 1px rgb(155, 155, 155);
}

.navlink.light:hover {
  box-shadow: 0.1px 0.1px 5px 1px rgb(18, 18, 18);
}

.infoLocation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.locationName {
  width: 200px;
  font-weight: 600;
  font-size: 30px;
}

.locationCountryRegion {
  font-size: 13px;
  width: 200px;
}

.locationLocalTime {
  font-size: 15px;
  width: 200px;
}

.forecastDay {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.lastUpdate {
  padding: 15px 0 0 0;
  font-size: 12px;
}

@media (max-width: 450px) {
  .navlink {
    width: 50%;
    height: 40px;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin: 0;
  }

  .infoLocation {
    flex-direction: column;
    margin: 20px 0 20px 0;
  }

  .locationName {
    width: fit-content;
    font-size: 40px;
  }

  .locationCountryRegion {
    width: fit-content;
    font-size: 16px;
  }

  .locationLocalTime {
    width: fit-content;
    font-size: 15px;
  }

  .lastUpdate {
    padding: 0;
    font-size: 15px;
  }
}
