.navlink {
    display: inline-block;
    padding: 5px;
    margin: 0 0 30px 0;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.639);
    background-color: rgba(51, 51, 51, 0.653);
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(28, 28, 28);
}

.navlink.light {
    border: 1px solid rgb(51, 51, 51);
    background-color: rgba(173, 171, 171, 0.685);
    color: #24262c
}

.navlink:hover {
    color: #fff;
    background-color: #345678b9;
    box-shadow: 0.1px 0.1px 5px 1px rgb(155, 155, 155);
}

.navlink.light:hover {
    box-shadow: 0.1px 0.1px 5px 1px rgb(18, 18, 18);
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
}

.infoCity {
    width: 300px;
    height: 150px;
}

.localTime {
    margin: 10px 0 0 0;
}

.locationName {
    margin: 0 0 20px 0;
    font-size: 30px;
}

.currentIconItem {
    width: 300px;
    height: 170px;
    background-color: rgba(51, 51, 51, 0.653);
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.currentIconItem.light {
    background-color: #E5E5E5;
}

.currentIcon {
    margin: 15px 0 0 0;
    width: 100px;
    height: 100px;
}

.infoWeatherItem {
    margin: 0 0 10px 0;
    width: 300px;
    height: 50px;
    background-color: rgba(51, 51, 51, 0.653);
    border-radius: 10px;
}

.infoWeatherItem.light {
    background-color: #E5E5E5;
}

.titleName {
    color:rgba(255, 255, 255, 0.744)
}

.titleName.light {
    color:#24262cd4
}

.infotext {
    font-weight: 600;
}

.lastUpdate {
    font-size: 12px;
}


@media (max-width: 450px) {
    .navlink {
        width: 50%;
        height: 40px;
        font-size: 20px;
        padding: 10px 0 0 0;
        margin: 0;
    }

    .info {
        flex-direction: column;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .infoCity {
        width: 80%;
        height: fit-content;
    }

    .locationName {
        font-size: 40px;
        margin: 10px 0 0 0;
    }

    .localTime {
        font-size: 15px;
        margin: 0 0 20px 0;
    }

    .infoIcon {
        width: 100%;
    }

    .infoWeather {
        width: 100%;
    }

    .currentIconItem {
        width: 90%;
        height: fit-content;
        margin: 0 auto 20px auto ;
        padding: 0 0 20px 0;
        font-size: 20px;
    }

    .currentIcon {
        height: 100px;
        width: 100px;
    }

    .infoWeatherItem {
        width: 90%;
        height: fit-content;
        margin: 0 auto 20px auto;
        font-size: 20px;
    }

    .lastUpdate {
        font-size: 10px;
    }
}
