body {
  overflow-y: scroll;
  font-family: "Poppins", serif;
  color: white;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #424242 #5a5a5a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #5a5a5a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 10px;
}

.app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 5px;
  background-color: rgb(67, 66, 66);
}

.app.light {
  height: max-content;
  background-color: #e5e5e5;
  color: #24262c;
}

.app-wrapper {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.infoWeather {
  margin: 10px 0 10px 0;
  padding: 20px;
  background-color: rgba(53, 53, 53, 0.653);
  border-radius: 5px;
}

.infoWeather.light {
  background-color: #fff;
}

@media (max-width: 450px) {
  *::-webkit-scrollbar {
    display: none;
  }

  .infoWeather {
    margin: 0;
    padding: 20px 0;
  }
}
